@import url("fonts.css");

body {  
  font-size: 18px;
  font-family: "Lato-Regular", "Arial", sans-serif;
  background: #e1e0db;
  line-height: 24px;
  text-align: justify;
}

h1 {
  font-size: 30px;
  line-height: 32px;
  font-family: "MavenPro-Regular", "Arial", sans-serif;
  text-align: center;
  margin: 30px 10px 20px;
  font-weight: 700;
  color: darkslategray;
}

h2 {
  font-size: 24px;
  font-family: "MavenPro-Regular", "Arial", sans-serif;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: darkcyan;
}

ul {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: steelblue;
}

a:hover {
  color: lightseagreen;
}

.content-container {
  max-width: 1024px;
  margin: 0 auto;
  background: #f4f3f4;
}

.page-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-left: 0;
  min-height: 40px;
  background: dimgrey;
  padding: 10px;
}

.page-nav__list li {
  margin: 10px;
}

.page-nav__list a {
  text-decoration: none;
  color: azure;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.contact-container__avatar {  
  border-radius: 10px;
}

.contact-container__contacts{
  width: 40%;
}

.contact-container__contacts ul {
  list-style: none;
  margin-left: 0;
}

.contact__icon {
  color: darkcyan;
}

.contact-container__contacts li:hover .contact__icon {
  color: #35609f;
}

.info-block {
  padding: 15px;
  margin: 10px 20px;
  border: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.footer {   
  min-height: 30px;
  background: dimgrey;
  padding: 10px;
  color: azure;
}