body {
  width: 1024px;
  margin: 0 auto;
}


.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.avatar {
  display: block;
  
}

.contacts{
  width: 30%;
}

ul {
  
}